@font-face {
    font-family: 'montserrat-regular';
    src: url('../fonts/montserrat/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat/montserrat-regular-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
    url('../fonts/montserrat/montserrat-regular-webfont.bin') format('truetype'),
    url('../fonts/montserrat/montserrat-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat-bold';
    src: url('../fonts/montserrat/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat/montserrat-bold-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
    url('../fonts/montserrat/montserrat-bold-webfont.bin') format('truetype'),
    url('../fonts/montserrat/montserrat-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Raleway
================================================================================ */
@font-face {
    font-family: 'raleway-thin';
    src: url('../fonts/raleway/raleway-thin-webfont.eot');
    src: url('../fonts/raleway/raleway-thin-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/raleway/raleway-thin-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-thin-webfont.bin') format('truetype'),
    url('../fonts/raleway/raleway-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-extra-light';
    src: url('../fonts/raleway/raleway-extralight-webfont.eot');
    src: url('../fonts/raleway/raleway-extralight-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-extralight-webfont.bin') format('truetype'),
    url('../fonts/raleway/raleway-extralight-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway/raleway-light-webfont.eot');
    src: url('../fonts/raleway/raleway-light-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/raleway/raleway-light-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-light-webfont.bin') format('truetype'),
    url('../fonts/raleway/raleway-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway/raleway-regular-webfont.eot');
    src: url('../fonts/raleway/raleway-regular-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-regular-webfont.bin') format('truetype'),
    url('../fonts/raleway/raleway-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-medium';
    src: url('../fonts/raleway/raleway-medium-webfont.eot');
    src: url('../fonts/raleway/raleway-medium-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-medium-webfont.bin') format('truetype'),
    url('../fonts/raleway/raleway-medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway/raleway-semibold-webfont.eot');
    src: url('../fonts/raleway/raleway-semibold-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-semibold-webfont.bin') format('truetype'),
    url('../fonts/raleway/raleway-semibold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway/raleway-bold-webfont.eot');
    src: url('../fonts/raleway/raleway-bold-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/raleway/raleway-bold-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-bold-webfont.bin') format('truetype'),
    url('../fonts/raleway/raleway-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-heavy';
    src: url('../fonts/raleway/raleway-heavy-webfont.eot');
    src: url('../fonts/raleway/raleway-heavy-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/raleway/raleway-heavy-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-heavy-webfont.bin') format('truetype'),
    url('../fonts/raleway/raleway-heavy-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * Merriweather
================================================================================ */

@font-face {
    font-family: 'merriweather-heavy';
    src: url('../fonts/merriweather/merriweather-black-webfont.eot');
    src: url('../fonts/merriweather/merriweather-black-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/merriweather/merriweather-black-webfont.woff') format('woff'),
    url('../fonts/merriweather/merriweather-black-webfont.bin') format('truetype'),
    url('../fonts/merriweather/merriweather-black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather-bold';
    src: url('../fonts/merriweather/merriweather-bold-webfont.eot');
    src: url('../fonts/merriweather/merriweather-bold-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/merriweather/merriweather-bold-webfont.woff') format('woff'),
    url('../fonts/merriweather/merriweather-bold-webfont.bin') format('truetype'),
    url('../fonts/merriweather/merriweather-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather-bold-italic';
    src: url('../fonts/merriweather/merriweather-bolditalic-webfont.eot');
    src: url('../fonts/merriweather/merriweather-bolditalic-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/merriweather/merriweather-bolditalic-webfont.woff') format('woff'),
    url('../fonts/merriweather/merriweather-bolditalic-webfont.bin') format('truetype'),
    url('../fonts/merriweather/merriweather-bolditalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather-heavy-italic';
    src: url('../fonts/merriweather/merriweather-heavyitalic-webfont.eot');
    src: url('../fonts/merriweather/merriweather-heavyitalic-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/merriweather/merriweather-heavyitalic-webfont.woff') format('woff'),
    url('../fonts/merriweather/merriweather-heavyitalic-webfont.bin') format('truetype'),
    url('../fonts/merriweather/merriweather-heavyitalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather-italic';
    src: url('../fonts/merriweather/merriweather-italic-webfont.eot');
    src: url('../fonts/merriweather/merriweather-italic-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/merriweather/merriweather-italic-webfont.woff') format('woff'),
    url('../fonts/merriweather/merriweather-italic-webfont.bin') format('truetype'),
    url('../fonts/merriweather/merriweather-italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather-light';
    src: url('../fonts/merriweather/merriweather-light-webfont.eot');
    src: url('../fonts/merriweather/merriweather-light-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/merriweather/merriweather-light-webfont.woff') format('woff'),
    url('../fonts/merriweather/merriweather-light-webfont.bin') format('truetype'),
    url('../fonts/merriweather/merriweather-light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather-light-italic';
    src: url('../fonts/merriweather/merriweather-lightitalic-webfont.eot');
    src: url('../fonts/merriweather/merriweather-lightitalic-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/merriweather/merriweather-lightitalic-webfont.woff') format('woff'),
    url('../fonts/merriweather/merriweather-lightitalic-webfont.bin') format('truetype'),
    url('../fonts/merriweather/merriweather-lightitalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather-regular';
    src: url('../fonts/merriweather/merriweather-regular-webfont.eot');
    src: url('../fonts/merriweather/merriweather-regular-webfont-1.eot') format('embedded-opentype'),
    url('../fonts/merriweather/merriweather-regular-webfont.woff') format('woff'),
    url('../fonts/merriweather/merriweather-regular-webfont.bin') format('truetype'),
    url('../fonts/merriweather/merriweather-regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ARIAL */
@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial/Arial-ItalicMT.eot');
    src: local('../fonts/arial/Arial Italic'), local('Arial-ItalicMT'),
    url('../fonts/arial/Arial-ItalicMT-1.eot') format('embedded-opentype'),
    url('../fonts/arial/Arial-ItalicMT.woff') format('woff'),
    url('../fonts/arial/Arial-ItalicMT.bin') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arial/ArialNarrow-Bold.eot');
    src: local('../fonts/arial/Arial Narrow Bold'), local('ArialNarrow-Bold'),
    url('../fonts/arial/ArialNarrow-Bold-1.eot') format('embedded-opentype'),
    url('../fonts/arial/ArialNarrow-Bold.woff') format('woff'),
    url('../fonts/arial/ArialNarrow-Bold.bin') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial/Arial-BoldItalicMT.eot');
    src: local('../fonts/arial/Arial Bold Italic'), local('Arial-BoldItalicMT'),
    url('../fonts/arial/Arial-BoldItalicMT-1.eot') format('embedded-opentype'),
    url('../fonts/arial/Arial-BoldItalicMT.woff') format('woff'),
    url('../fonts/arial/Arial-BoldItalicMT.bin') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arial/ArialNarrow.eot');
    src: local('../fonts/arial/Arial Narrow'), local('ArialNarrow'),
    url('../fonts/arial/ArialNarrow-1.eot') format('embedded-opentype'),
    url('../fonts/arial/ArialNarrow.woff') format('woff'),
    url('../fonts/arial/ArialNarrow.bin') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arial/ArialNarrow-Italic.eot');
    src: local('../fonts/arial/Arial Narrow Italic'), local('ArialNarrow-Italic'),
    url('../fonts/arial/ArialNarrow-Italic-1.eot') format('embedded-opentype'),
    url('../fonts/arial/ArialNarrow-Italic.woff') format('woff'),
    url('../fonts/arial/ArialNarrow-Italic.bin') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial/ArialMT.eot');
    src: local('../fonts/arial/Arial'), local('ArialMT'),
    url('../fonts/arial/ArialMT-1.eot') format('embedded-opentype'),
    url('../fonts/arial/ArialMT.woff') format('woff'),
    url('../fonts/arial/ArialMT.bin') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial/Arial-BoldMT.eot');
    src: local('../fonts/arial/Arial Bold'), local('Arial-BoldMT'),
    url('../fonts/arial/Arial-BoldMT-1.eot') format('embedded-opentype'),
    url('../fonts/arial/Arial-BoldMT.woff') format('woff'),
    url('../fonts/arial/Arial-BoldMT.bin') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/arial/Arial-Black.eot');
    src: local('../fonts/arial/Arial Black'), local('Arial-Black'),
    url('../fonts/arial/Arial-Black-1.eot') format('embedded-opentype'),
    url('../fonts/arial/Arial-Black.woff') format('woff'),
    url('../fonts/arial/Arial-Black.bin') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('../fonts/arial/ArialNarrow-BoldItalic.eot');
    src: local('../fonts/arial/Arial Narrow Bold Italic'), local('ArialNarrow-BoldItalic'),
    url('../fonts/arial/ArialNarrow-BoldItalic-1.eot') format('embedded-opentype'),
    url('../fonts/arial/ArialNarrow-BoldItalic.woff') format('woff'),
    url('../fonts/arial/ArialNarrow-BoldItalic.bin') format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* UNI SANS */


@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/Uni Sans/UniSansRegular.eot');
    src: local('../fonts/Uni Sans/Uni Sans Regular'), local('UniSansRegular'),
    url('../fonts/Uni Sans/UniSansRegular-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansRegular.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansRegular.bin') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy';
    src: url('../fonts/Uni Sans/UniSansHeavyItalic.eot');
    src: local('../fonts/Uni Sans/Uni Sans Heavy Italic'), local('UniSansHeavyItalic'),
    url('../fonts/Uni Sans/UniSansHeavyItalic-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansHeavyItalic.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansHeavyItalic.bin') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/Uni Sans/UniSansThin.eot');
    src: local('../fonts/Uni Sans/Uni Sans Thin'), local('UniSansThin'),
    url('../fonts/Uni Sans/UniSansThin-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansThin.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansThin.bin') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/Uni Sans/UniSansBold.eot');
    src: local('../fonts/Uni Sans/Uni Sans Bold'), local('UniSansBold'),
    url('../fonts/Uni Sans/UniSansBold-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansBold.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansBold.bin') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy CAPS';
    src: url('../fonts/Uni Sans/UniSansHeavyCAPS.eot');
    src: local('../fonts/Uni Sans/Uni Sans Heavy CAPS'), local('UniSansHeavyCAPS'),
    url('../fonts/Uni Sans/UniSansHeavyCAPS-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansHeavyCAPS.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansHeavyCAPS.bin') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Light';
    src: url('../fonts/Uni Sans/UniSansLightItalic.eot');
    src: local('../fonts/Uni Sans/Uni Sans Light Italic'), local('UniSansLightItalic'),
    url('../fonts/Uni Sans/UniSansLightItalic-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansLightItalic.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansLightItalic.bin') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Book';
    src: url('../fonts/Uni Sans/UniSansBook.eot');
    src: local('../fonts/Uni Sans/Uni Sans Book'), local('UniSansBook'),
    url('../fonts/Uni Sans/UniSansBook-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansBook.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansBook.bin') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/Uni Sans/UniSansSemiBold.eot');
    src: local('../fonts/Uni Sans/Uni Sans SemiBold'), local('UniSansSemiBold'),
    url('../fonts/Uni Sans/UniSansSemiBold-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansSemiBold.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansSemiBold.bin') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Regular';
    src: url('../fonts/Uni Sans/UniSansRegularItalic.eot');
    src: local('../fonts/Uni Sans/Uni Sans Regular Italic'), local('UniSansRegularItalic'),
    url('../fonts/Uni Sans/UniSansRegularItalic-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansRegularItalic.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansRegularItalic.bin') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/Uni Sans/UniSansHeavy.eot');
    src: local('../fonts/Uni Sans/Uni Sans Heavy'), local('UniSansHeavy'),
    url('../fonts/Uni Sans/UniSansHeavy-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansHeavy.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansHeavy.bin') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Uni Sans Heavy Italic CAPS';
    src: url('../fonts/Uni Sans/UniSansHeavyItalicCAPS.eot');
    src: local('../fonts/Uni Sans/Uni Sans Heavy Italic CAPS'), local('UniSansHeavyItalicCAPS'),
    url('../fonts/Uni Sans/UniSansHeavyItalicCAPS-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansHeavyItalicCAPS.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansHeavyItalicCAPS.bin') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Heavy Caps';
    src: url('../fonts/Uni Sans/UniSansHeavyCapsItalic.eot');
    src: local('../fonts/Uni Sans/Uni Sans Heavy Caps Italic'), local('UniSansHeavyCapsItalic'),
    url('../fonts/Uni Sans/UniSansHeavyCapsItalic-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansHeavyCapsItalic.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansHeavyCapsItalic.bin') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans SemiBold';
    src: url('../fonts/Uni Sans/UniSansSemiBoldItalic.eot');
    src: local('../fonts/Uni Sans/Uni Sans SemiBold Italic'), local('UniSansSemiBoldItalic'),
    url('../fonts/Uni Sans/UniSansSemiBoldItalic-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansSemiBoldItalic.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansSemiBoldItalic.bin') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Bold';
    src: url('../fonts/Uni Sans/UniSansBoldItalic.eot');
    src: local('../fonts/Uni Sans/Uni Sans Bold Italic'), local('UniSansBoldItalic'),
    url('../fonts/Uni Sans/UniSansBoldItalic-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansBoldItalic.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansBoldItalic.bin') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans Book';
    src: url('../fonts/Uni Sans/UniSansBookItalic.eot');
    src: local('../fonts/Uni Sans/Uni Sans Book Italic'), local('UniSansBookItalic'),
    url('../fonts/Uni Sans/UniSansBookItalic-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansBookItalic.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansBookItalic.bin') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Uni Sans';
    src: url('../fonts/Uni Sans/UniSansLight.eot');
    src: local('../fonts/Uni Sans/Uni Sans Light'), local('UniSansLight'),
    url('../fonts/Uni Sans/UniSansLight-1.eot') format('embedded-opentype'),
    url('../fonts/Uni Sans/UniSansLight.woff') format('woff'),
    url('../fonts/Uni Sans/UniSansLight.bin') format('truetype');
    font-weight: 300;
    font-style: normal;
}
